<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>My First Express App</title>
  </head>
  <body>
    <form method="POST" action="/names">
      <input type="text" name="name">
      <input type="submit" value="Submit">
    </form>

    <ul>
      <% for(name in names) { %>
        <li><%= name %>, checked in <%= names[name]; %></li>
      <% } %>
    </ul>

  </body>
</html>
